html {
  scroll-padding-top: 150px;
}

body {
  background: #c7aea6;
  font-family: "Nunito", sans-serif;
}

h2 {
  font-weight: 100;
  font-size: 2.5rem;
}

p {
  color: white;
}

.content {
  margin-top: 75px;
  margin-bottom: 75px;
}

.navbar .navbar-nav .nav-link:hover {
  background-color: rgb(14, 13, 13);
  color: #ffacb7;
}

.navbar .navbar-nav .nav-link {
  padding: 0.75em;
  font-size: 1em;
  transition: all 0.25s;
  color: black;
}

.navbar .navbar-brand {
  padding: 0 0.6em;
  color: black;
}

.scrolled {
  background-color: black !important;
  transition: background-color 200ms linear;
}

@media only screen and (min-width: 992px) {
  .navbar {
    padding: 0;
  }
  .navbar .navbar-nav .nav-link {
    padding: 1em 0.7em;
  }
  .navbar .navbar-brand {
    padding: 0 0.8em;
  }
}

#headingGroup h2 {
  font-weight: 100;
  font-size: 4rem;
}

#headingGroup {
  padding-top: 40px;
}

#dropdown {
  padding: 0.75em;
  font-size: 1em;
  transition: all 0.25s;
  color: black;
}

#dropdown:hover {
  background-color: rgb(14, 13, 13);
}

a.dropdown-toggle {
  border: none;
  outline: none;
  text-decoration: none;
}

#topContainer {
  background-image: url("assets/housebanner.jpg");
  height: 75vh;
}

#furnitureBanner {
  background-image: url("assets/furniturebanner.jpg");
  height: 75vh;
  background-size: cover;
}

#autoBanner {
  background-image: url("assets/boatdock.jpg");
  height: 75vh;
}

#projectTitle {
  font-weight: 100;
}
